:root {
    --color-primary: rgb(20, 35, 71);
    --color-background: rgb(145, 110, 64);
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--color-background);
    color: white;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding: 2.5rem;
}

table {
    width: 95%;
    text-align: center;
    margin: 0 auto;
    border-collapse: collapse;
}

.caption-text {
    font-size: 1.5rem;
}

#add-new-btn {
    all: unset;
    display: block;
    font-size: 1rem;
    padding: 0.2rem 0.6rem;
    background-color: white;
    border: 2px solid var(--color-primary);
    border-radius: 5px;
    cursor: pointer;
    margin: 20px auto;
    transition: .2s;
}

#add-new-btn:hover {
    background-color: rgb(191, 207, 229);
}

tr {
    border-bottom: 2px solid var(--color-primary);
}

td > img {
    width: 4rem;
    
}

.status-btn {
    all: unset;
    border-radius: 20px;
    padding: .5rem 1rem;
    color: white;
    transition: .2s;
    cursor: pointer;
}

.planned {
    background-color: var(--color-background);
    border: 3px solid var(--color-background);
    
}

.planned:hover {
    background-color: rgb(153, 133, 106);
    border: 3px solid rgb(60, 45, 25);
}

.reading {
    background-color: var(--color-primary);
    border: 3px solid var(--color-primary);
}

.reading:hover {
    background-color: rgb(66, 96, 138);
    border: 3px solid rgb(8, 15, 30);
}

.finished {
    background-color: rgb(108, 26, 48);
    border: 3px solid rgb(108, 26, 48);
}

.finished:hover {
    background-color: rgb(167, 75, 100);
    border: 3px solid rgb(62, 11, 24);
}

#status-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 25%;
    max-width: 400px;
    height: 40%;
    background-color: white;
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    z-index: 2;
}

#status-div button {
    width: 150px;
    text-align: center;
    font-size: 2rem;
}

#status-div h1 {
    font-size: 2.5rem;
}

.status-menu-btn {
    all: unset;
    border-radius: 20px;
    padding: .5rem 1rem;
    color: white;
    transition: .2s;
    cursor: pointer;
}